:root {
  --border-radius: 8px;
}

.profile {
  width: 300px;
  margin: auto;

  text-align: center;
  background-color: rgb(247, 247, 247);
  border-radius: var(--border-radius);
}

.avatar {
  width: 100px;
  margin: 0 auto;
  padding: 20px 0;

  border-radius: 50%;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.stats li {
  display: flex;
  flex-direction: column;

  padding: 10px;
  width: 100%;

  background-color: rgb(236, 235, 235);
  border-top: 1px solid rgb(221, 219, 219);
}
.stats li:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.stats li:last-child {
  border-bottom-right-radius: var(--border-radius);
}
.stats li + li {
  border-left: 1px solid rgb(221, 219, 219);
}
.name {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}
p {
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.quantity {
  font-weight: 700;
}
