.transactionHistory {
  width: 100%;
  text-align: center;
}
.transactionHistory thead {
  background-color: rgb(169, 169, 221);
}
.transactionHistory thead th {
  padding: 20px;
  color: beige;
}
.transactionHistory tr td {
  padding: 15px;
}
.transactionHistory tbody tr:nth-child(even) {
  background-color: rgb(212, 212, 212);
}
